.main {
  text-align: center;
  align-items: center;
  display: block;
}

.welcome {
  width: 100%;
  margin-top: 20px;
  max-width: 850px;
  height: auto;
}

.buttons {
  margin-top: 50px;
}

.logo {
  width: 100%;
  margin-top: 20px;
  max-width: 300px;
  height: auto;
}

button:active {
  outline: none;
}

.front-page-button {
  border-color: purple;
  border-width: thick;
  color: white;
  cursor:pointer;
  background-color: grey;
  font-size: x-large;
  opacity: 0.5;
  font-weight: bold;
  -webkit-text-stroke: 2px rgb(41, 1, 41);
  margin-left: 10px;
}

.front-page-button:hover {
  font-size: xx-large;
  border-color: rgb(53, 1, 53);
  color: white;
}

.animation {
  align-items: center;
}

.flip-container {
  max-width: 400px;
  width: 100%;
  display: inline-block;
}
.flipper {
	transition: 0.6s;
	position: relative;
}

.front,
.back {
  width: 100%;
  height: 100%;
	max-width: 400px;
	max-height: 200px;
	position: absolute;
	left: 0;
	top: 0;
  -webkit-backface-visibility: hidden;
}

@keyframes flipY{
  from {
      -webkit-transform: rotateY(180deg);
  }
  
  to {
      -webkit-transform: rotateY(-180deg);
  } 
}

.flip-container .flipper {
	animation: flipY 4s infinite;
}